<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<bean id="dataSource" class="com.nuaaparnec.phoenix.ZaDataSource"
		destroy-method="close">
		<property name="driverClassName" value="org.apache.phoenix.jdbc.PhoenixDriver" />
		<property name="url"
			value="jdbc:phoenix:100.253.11.207,100.139.113.47,100.253.12.4:2181" />
		<property name="initialSize" value="10" />
		<property name="maxActive" value="5" />
		<property name="defaultAutoCommit" value="true" />
	</bean>

	<!-- mybatis 配置 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis/sqlmap-config.xml" />
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.nuaaparnec.phoenix.mapper" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<context:component-scan base-package="com.nuaaparnec.phoenix" />
	<bean id="phoenixJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg ref="dataSource" />
		<qualifier value="phoenixJdbcTemplate"></qualifier>
	</bean>
</beans>